# Data
data/*
!data/README.md

notebook/*
results/*

wording_only_bias/Evaluation_Results.ipynb




# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# VS Code
.vscode/

# Dependencies and environments
node_modules/
.venv/
venv/
env/
__pycache__/
*.py[cod]
